<html lang="PT">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte ao Cliente</title>
    <link rel="stylesheet" href="../css/suporte.css">
    <script src="https://kit.fontawesome.com/1fee394696.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="itens">
        <div class="opc1">
        <img src="../img/Frame 1.png" class="image" alt="seta">
        <h5>Não consigo alterar meus dados.</h5> 
        <p class="opc-text">Certifique-se que todos os dados estão preenchidos corretamente.</p>     
        </div>      
        <div class="opc2">
            <img src="../img/Frame 1.png" class="image" alt="seta">
            <h5>Não consigo abrir uma conta.</h5>
            <p class="opc-text">Certifique-se que já não tem uma conta aberta em seu nome.</p>
        </div>      
        <div class="opc3">
            <img src="../img/Frame 1.png" class="image" alt="seta">
            <h5>Fiz um pix errado, o que fazer agora?</h5>  
            <p class="opc-text">A principal forma de tentar reaver os valores transferidos de forma errada é por meio do Mecanismo Especial de Devolução (MED).</p> 
        </div>    
        <div class="opc4">
            <img src="../img/Frame 1.png" class="image" alt="seta">
        <h5>Não consigo fazer uma transferência.</h5>   
        <p class="opc-text">Certifique-se que a conta que deseja fazer a transferência é do MazeBank</p>
        </div>
        <div class="emailinferior">
            <p>Mais alguma dúvida? 
                <br>
                Entre em contato via E-mail.  
            </p>
            <img src="../img/logos_google-gmail.png" class="image" alt="gmail">
        </div>
    </div>

   
</body>


</html>