<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte ao Cliente</title>
    <link rel="stylesheet" href="../css/suporte.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1fee394696.js" crossorigin="anonymous"></script>
</head>

<header>
    <h1>MAZEBANK</h1>
    <ul>
        <li><img class="img1" src="../../header padrao/logo 1.png" alt=""></li>
        <!-- <li><img class="img2" src="ph_user-light.png" alt=""></li> -->
        <li><a class="ativoHome" href="../home.php">Home</a></li>
        <li><a href="">Transferências</a></li>
        <li><a href="">Depósito</a></li>
        <li><a href="">Empréstimos</a></li>
        <div class="dropdown">
            <button class="btn btn-danger border border-light bg-transparent btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <li><img class="img2" src="../../header padrao/ph_user-light.png" alt=""></li>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Meu Perfil</a>
              <a class="dropdown-item" href="suporte.html">Suporte</a>
              <a class="dropdown-item" href="#">Sair</a>
            </div>
          </div>
    </ul>
</header>

<body>
    <div class="itens">
        <div class="opc1" onclick="toggleText('textoOpc0')">
            <img src="../img/Frame 1.png" class="image" alt="seta">
            <h5>Não consigo alterar meus dados.</h5>
            <p class="opc-text" id="textoOpc0">Certifique-se que todos os dados estão preenchidos corretamente.</p>     
        </div>    
        <div class="opc2" onclick="toggleText('textoOpc1')">
            <img src="../img/Frame 1.png" class="image" alt="seta">
            <h5>Não consigo abrir uma conta.</h5>
            <p class="opc-text" id="textoOpc1">Certifique-se que já não tem uma conta aberta em seu nome.</p>
        </div>      
        <div class="opc3" onclick="toggleText('textoOpc2')">
            <img src="../img/Frame 1.png" class="image" alt="seta">
            <h5>Fiz um pix errado, o que fazer agora?</h5>  
            <p class="opc-text" id="textoOpc2">A principal forma de tentar reaver os valores transferidos de forma errada é por meio do Mecanismo Especial de Devolução (MED).</p> 
        </div>    
        <div class="opc4" onclick="toggleText('textoOpc3')">
            <img src="../img/Frame 1.png" class="image" alt="seta">
        <h5>Não consigo fazer uma transferência.</h5>   
        <p class="opc-text" id="textoOpc3">Certifique-se que a conta que deseja fazer a transferência é do MazeBank</p>
        </div>
        <div class="emailinferior">
            <p>Mais alguma dúvida? 
                <br>
                Entre em contato via E-mail.  
            </p>
            <img src="../img/logos_google-gmail.png" class="image" alt="gmail">
        </div>
    </div>

</body>

<script src="../js/suporte.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>