@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  /* overflow: hidden; */
}

header {
  background-color: #660a07;
  padding: 15px;
  box-shadow: 0 0 3px black;
}

header li {
  display: inline;
  padding-left: 45px;
}

header h1 {
  color: #ffffff;
  text-decoration: none;
  font-family: "Monoton", sans-serif;
  font-size: 40px;
  text-align: center;
}

header li a {
  color: #ffffff;
  text-decoration: none;
  padding: 13px;
  transition: 0.3s ease;
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
}

header li a:hover {
  color: rgb(129, 127, 127);
}

.img1 {
  width: 130px;
  float: left;
  margin-top: -65px;
}
.img2 {
  width: 60px;
  float: right;
  margin-top: -12px;
  margin-right: 35px;
}

.dropdown {
  float: right;
  position: relative;
  background-color: #660a07;
  outline: none;
}

.row {
  background-color: #8a8a8a;
  height: 100vh;
}

.row a {
  color: #ffffff;
  text-decoration: none;
  padding: 13px;
  transition: 0.3s ease;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
}

.col-9 {
  background-color: #ffffff;
}

.teste {
  width: 150px;
  margin-top: 20px;
  float: right;
  margin-right: 50%;
}

.img-user {
  text-align: center;
  display: block;
  margin-top: 10px;
}

.img-user img {
  width: 150px;
}

.row .col-3 .nav .active {
  background-color: #5a0000;
  color: #ffffff !important;
  border-radius: 30px !important;
  margin: 10%;
}

.btn1{
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 19px;
  color: #fff;
  background-color: #5e0000;
  padding: 10px 30px;
  border: solid #5e0000 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1724ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.btn {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 19px;
  color: #fff;
  background-color: #5e0000;
  padding: 10px 30px;
  border: solid #5e0000 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1724ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.botao {
  align-items: center;
  text-align: center;
  margin-left: 70vh;
  margin-top: 20px;

}

.containerDelete{
    text-align: center;
    font-size: 20px;
}

.cartao {
  padding-top: 10px;
  text-align: center;
}

.img-cartoes {
  width: 50vh;
  align-items: center;
  margin-left: 35%;
  margin-top: 20px;
}


