<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redefinir Senha</title>
  <link rel="stylesheet" href="../css/index.css">
  <script src="https://kit.fontawesome.com/1fee394696.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="red"></div>
  <div class="login-esquerda">
    <img src="../img/logo.webp" class="image" alt="mazebank">
    <h1>MAZE BANK</h1>
    <h2>Banco de Palmas</h2>
  </div>
  <div class="container">
    <form id="signin" method="POST" action="../../controllers/confirmarEmail/confirmarEmail.php ">
        <input type="text" id="email" name="emailUsuario" placeholder="Email" required />
        <i class="fa fa-envelope iEmail" style="color: #660a07d0;"></i>
        <button type="submit">Confirme o email</button>
        <br>
    </form>
  </div>

  <script src="../js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
