@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

header{
    background-color: #660A07;
    padding: 15px;
    box-shadow: 0 0 3px black;
}

header li{
    display: inline;
    padding-left: 45px;

}

header h1{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Monoton', sans-serif;
    font-size: 40px;
    text-align: center;
}


header li a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 13px;
    transition: .3s ease;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
}

header li a:hover{
    color: rgb(129, 127, 127);
}

.img1 {
    width: 130px;
    float: left;
    margin-top: -65px;
}
.img2 {
    width: 60px;
    float: right;
    margin-top: -12px;
    margin-right: 35px;
}

.dropdown{
    float: right;
    position: relative;
    background-color: #660A07;
    outline: none;
}

.row{
    background-color: #8A8A8A;
    height: 100vh;


}

.row a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 13px;
    transition: .3s ease;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

.col-9{
    background-color: #FFFFFF;
}

.teste{
    width: 150px;
    margin-top: 20px;
    float:right;
    margin-right: 50%;
}

.img-user{
    text-align: center;
    display: block;
    margin-top: 10px;
}

.img-user img{
    width: 150px;
}

.row .col-3 .nav .active{
    background-color: #5a0000;
    color: #FFFFFF !important;
    border-radius: 30px !important;
    margin: 10%;
}
